<div class="comparison-holder">
  <div class="appHolder hidden" data-num="0">
    <div class="appInfo">
      <h2 class="title">{items[0].name}</h2>
      <div class="stars" data-rating="{items[0].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[0].image}">
        <span>{items[0].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[0].ratingAverageAll}"></span>
    </div>
  </div>

  <div class="appHolder hidden" data-num="1">
    <div class="appInfo">
      <h2 class="title">{items[1].name}</h2>
      <div class="stars" data-rating="{items[1].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[1].image}">
        <span>{items[1].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[1].ratingAverageAll}"></span>
    </div>
  </div>

  <div class="appHolder hidden" data-num="2">
    <div class="appInfo">
      <h2 class="title">{items[2].name}</h2>
      <div class="stars" data-rating="{items[2].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[2].image}">
        <span>{items[2].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[2].ratingAverageAll}"></span>
    </div>
  </div>

  <div class="appHolder hidden" data-num="3">
    <div class="appInfo">
      <h2 class="title">{items[3].name}</h2>
      <div class="stars" data-rating="{items[3].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[3].image}">
        <span>{items[3].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[3].ratingAverageAll}"></span>
    </div>
  </div>

  <div class="appHolder hidden" data-num="4">
    <div class="appInfo">
      <h2 class="title">{items[4].name}</h2>
      <div class="stars" data-rating="{items[4].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[4].image}">
        <span>{items[4].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[4].ratingAverageAll}"></span>
    </div>
  </div>

  <div class="appHolder hidden" data-num="5">
    <div class="appInfo">
      <h2 class="title">{items[5].name}</h2>
      <div class="stars" data-rating="{items[5].ratingAverageAll}">
        <p class="no-rating">This app has not been reviewed.</p>
        <span class="star1"></span>
        <span class="star2"></span>
        <span class="star3"></span>
        <span class="star4"></span>
        <span class="star5"></span>
      </div>
      <div class="app-logo">
        <img src="{items[5].image}">
        <span>{items[5].country}</span>
      </div>
    </div>
    <div id="chart" class="chart">
    </div>
    <div class="hidden mobile-graph">
      <span class="circle" data-rating="{items[5].ratingAverageAll}"></span>
    </div>
  </div>
</div>